{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        <h1>Login</h1>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button type="submit" value="Login">Submit</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/webapps2023/register">Create an account</a>.</p>
    </div>
{% endblock %}